@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Kanit:wght@300&display=swap');

:root{
    --main-color: #065F46;
    --shade-color:#D1FAE5;
    --white-color:white;
}
hr{
    margin:3rem  0rem ;
}
/* body */
body{
    font-family: 'Kanit', sans-serif;
    margin: 0px;
}


/* container */
.container{
    padding:1rem 1rem;
}

/* centered container */
.container-center{
    text-align: center;
    max-width: 60%;
    display: block;
    margin: auto;

}


/* links */
.link{
    text-decoration: none;
    margin:3px;
}
.link-primary{
    color: var(--white-color);
    border: 2px solid;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color:var(--main-color);
}
.link-secondary{
    color:var(--main-color);
    border: 2px solid  ;
    padding: 0.5rem;
    border-radius: 1rem;
}
.link-active{
    font-weight: bold;
}

/* lists */
.list{
    padding: 1rem 1rem;
}
.no-dot{
    list-style-type: none;
}
.list-inline{
    display: inline;
    margin:1rem;
}


/* nav */
.navigation{
      
    background-color: var(--main-color);
    padding: 0.5rem;
    display: block;
    margin: 0rem;
    border-bottom-left-radius:1rem ;
}
.navigation .navi-hero{
    font-size: xx-large;
    color: var(--white-color);
}
.navigation .link{
        color: var(--white-color);
}
.navigation .no-dot{
         text-align: right;
}



/* header */
.hero .hero-header{
    margin-top: 3rem;
}
.contxt{
    color: var(--main-color);
}
.heroimg{
    padding-top: 1rem;
    text-align: center;
    max-width: 500px;
    margin:auto;
    display: block;
}


/* section */
.section{
    padding: 1rem 1rem;
}
.og{
    background-color: var(--shade-color);
}
.section .link{
    color:var(--main-color);
    margin: 0px;
}
.section .container-center{
    font-size: x-large;
}
.section .link-primary{
    color: var(--white-color);
    text-decoration: none;
    
}

/* footer */
.footer
{
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--main-color);
}
.footer-hero{
    color: var(--white-color);
    font-weight:bold ;
    font-size: x-large;
}
.footer .link{
    color: var(--white-color);
}
.footer .no-dot{
    padding-inline-start: 0px
}